html {
    font-family: Roboto !important;
}
body {
    padding-top: 70px;
    font-family: sans-serif !important;
}

.input-validate {
    font-size: x-small;
    color: red;
    margin-top: 2px;
    margin-left: 2px;
}

.paginate-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
}
